# Common cross-machine Git config. Loaded onto every machine.

[init]
	defaultBranch = master

[pull]
	ff = only

[branch]
    sort = -committerdate

[fetch]
	prune = true

[merge]
	conflictStyle = diff3

[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true

[rerere]
	enabled = true
	autoupdate = true

[rebase]
	autoSquash = true
	autoStash = true
	updateRefs = true

[commit]
	gpgSign = true

[include]
	path = ~/.gitconfig.local

[alias]
	cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|main\\|develop' | xargs -n 1 -r git branch -d"
