[push]
	default = simple
[credential]
	helper = "!f() { /root/.vscode-server/bin/6c3e3dba23e8fadc360aed75ce363ba185c49794/node /tmp/vscode-remote-containers-6f3ce424-2c2a-467f-9b04-d3efa7878e09.js git-credential-helper $*; }; f"
[user]
	name = Shane Moo
	email = obshane96@gmail.com
